
data/dataset.zip

data/graph.edgelist

project_proposal.docx

project_proposal.pdf

.ipynb_checkpoints/

graph_features.edgelist

DataExploration.ipynb

VisualisationLinkP.ipynb

report/mid_term_report.docx
report/mid_term_report.pdf
report/project_proposal.docx
report/project_proposal.docx
data/desktop.ini

figures/desktop.ini

report/desktop.ini

saved_model/desktop.ini

saved_model/model_HinSAGE/desktop.ini

saved_model/model_HinSAGE/assets/desktop.ini

saved_model/model_HinSAGE/variables/desktop.ini
